body {
  margin: 0;
  font-family: Open Sans,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
}

a {
  color: '#4299e1';
  text-decoration: underline;
  font-weigth: 500;
}