.p404 {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
}
.p404__content {
  min-height: 100vh;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.5;
}
.p404__content__illustration {
  display: block;
  max-width: 25rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.p404__content__illustration__img {
  display: block;
  width: 100%;
  margin: 0 auto;
}
.p404__content__title {
  margin-bottom: 1rem;
  text-align: center;
  font-size: 2rem;
  letter-spacing: 0.1rem;
}
.p404__content__link {
  margin-bottom: 1rem;
}